{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h2> Bienvenue dans l'application de gestion de la bibiothèque</h2>
        <hr/>
        <a href="{{ path('livre_index') }}" class="btn btn-success btn-lg"><i class="fa fa-eye"></i> Consultez les livres disponibles</a>


    </div>
{% endblock %}