{% trans_default_domain 'FOSUserBundle' %}

<h2>BIBIOTHEQUE UNIVERSITAIRE</h2>
<h2>Connexion</h2>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <input type="text" id="username" class="ggg" name="_username" placeholder="Login" required="required">
    <input type="password" id="password"  class="ggg" name="_password" placeholder="Password" required="required">
    <span><input type="checkbox" id="remember_me" name="_remember_me" value="on" />Remember Me</span>
    <h6><a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a></h6>
    <div class="clearfix"></div>
    <input type="submit" id="_submit" name="_submit" value="Se connecter" />
</form>
<p>Pas de compte ?<a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></p>